sqlalchemy
sqlite3             # For interacting with SQLite database
psycopg2-binary     # PostgreSQL driver
python-dotenv       # For loading .env file
requests            # To make req from Last.fm API
flask				# to be able to run the server -- 