<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>broadCastr v0.0.1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/backendfunctions.css') }}">
    <script>
        async function callFunction(endpoint, outputId) {
            const userInput = document.getElementById('userInput').value;
            const periodInput = document.getElementById('periodInput').value;
            const response = await fetch(endpoint, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ input: userInput, period: periodInput })
            });
            const data = await response.json();
            document.getElementById(outputId).innerText = data.output;
        }
    </script>
</head>
<body>
	<h1>broadCastr v0.0.1</h1>
    <h2>Run Backend Functions</h2>

    <div class="left-panel">
        
        <h3>Parameters</h3>
        Last.fm User Name: <input type="text" id="userInput" input_text="" /><br>
        Period:
        <select id="periodInput">
            <option value="overall">Overall</option>
            <option value="7day">7 Days</option>
            <option value="1month">1 Month</option>
            <option value="3month">3 Months</option>
            <option value="6month">6 Months</option>
            <option value="12month">12 Months</option>
        </select><br>
        <h3>Interact with Last.fm API</h3>
        <button class="function-button" onclick="callFunction('/get_top_artist_plays', 'output')">Get top artists and plays from Last.fm</button><br>
        <button class="function-button" onclick="callFunction('/get_top_album_plays', 'output')">Get top albums and plays from Last.fm</button><br>
        <button class="function-button" onclick="callFunction('/get_top_track_plays', 'output')">Get top tracks and plays from Last.fm</button><br>
        <h3>Database - Users</h3>
        <button class="function-button" onclick="callFunction('/query_users', 'output')">Get broadCastr user list from database</button><br>
        <h3>Database - Artists</h3>
        <button class="function-button" onclick="callFunction('/store_top_artists', 'output')">Store top artists to database</button><br>
        <button class="function-button" onclick="callFunction('/query_top_artists', 'output')">Display top artists from database</button><br>
        <h3>Database - Albums</h3>
        <button class="function-button" onclick="callFunction('/store_top_albums', 'output')">Store top albums to database</button><br>
        <button class="function-button" onclick="callFunction('/query_top_albums', 'output')">Display top albums from database</button><br>
        <h3>Database - Tracks</h3>
        <button class="function-button" onclick="callFunction('/store_top_tracks', 'output')">Store top tracks to database</button><br>
        <button class="function-button" onclick="callFunction('/query_top_tracks', 'output')">Display top tracks from database</button><br>
        <br>
        <!-- <button class="function-button" onclick="callFunction('/store_all_data_for_all_users', 'output')">Store top artists to database</button><br> -->
    </div>

    <div class="right-panel">
        <div id="output"></div>
    </div>

    <div class="bottom-panel">
        <a href="/">Link to Home</a>
    </div>
    
</body>
</html>
