/* CSS styles for the backend functions page */

.left-panel {
    float:left;
    width: 40%;
}

.function-button {
    margin-bottom: 10px;
}

.right-panel {
    float: right;
    width: 60%;
}

#output {
    color: blue;
}

.bottom-panel {
    clear:both;
    display:block;
}
